.link-home {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 8px 12px;
}

.left-sidebar-top {
    padding: 8px 12px;
    background-color: #181818;
    border-radius: 8px;
    margin-bottom: 8px;
}

.left-sidebar-bottom {
    padding: 8px 12px;
    background-color: #181818;
    border-radius: 8px;
    height: 700px;
}

.link-label {
    display: flex;
    align-items: center;
    color: #a7a7a7;
    font-size: 1.25rem;
}

.link-label:hover {
    color: white;
}

.home-icon {
    padding-right: 2em;
    font-size: 1.5rem;
}

.search-icon {
    padding-right: 2em;
    font-size: 1.5rem;
}

.list-label {
    padding: 12px 12px;
}

.main-homepage {
    display: grid;
    grid-template-columns:
    "left-sidebar main-view"
    "now-playing-bar now-playing-bar";
    grid-template-columns: 414px 1fr;
    grid-template-rows: 1fr auto;
}

.left-sidebar {
    /* height: 500px; */
    width: 414px;
    /* gap: 8px; */
}

.main-header {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 2rem;
    align-items: center;
    height: 64px;
    width: 75%;
    justify-content: flex-end;
}

button:hover {
    cursor: pointer;
}

.login-button {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 700;
    border: 0px;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    align-self: center;
    background-color: white;
    padding-block: 1px;
    padding-inline: 6px;
    padding: 20px 40px;
}

.signup-button {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 700;
    border: 0px;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    align-self: center;
    background-color: transparent;
    padding-block: 1px;
    padding-inline: 6px;
    padding: 20px 40px;
    color: #a7a7a7;
}

.hidden {
    display: none;
}

.profile-dropdown {
    padding-top: 20px;
}

#profile-login-drop-down {
    min-width: 196px;
    position: fixed;
    right: 50px;
    background-color: #2a2a2a;
    z-index: 2;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-song-label:hover {
    background-color: #353535;
    cursor: pointer;
}

.manage-songs-label:hover {
    background-color: #353535;
    cursor: pointer;
}

.manage-albums-label:hover {
    background-color: #353535;
    cursor: pointer;
}

.logout-label:hover {
    background-color: #353535;
    cursor: pointer;
}

.new-song-label {
    padding: 10px 10px;
}

.manage-albums-label {
    padding: 10px 10px;
}

.manage-songs-label {
    padding: 10px 10px;
}

.logout-label {
    padding: 10px 10px;
}

.dropdown-label-names {
    font-size: 0.875rem;
}

.profile-menu {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    border-radius: 25px;
    position: fixed;
}

.now-playing-bar {
    grid-column: 1 / -1;
    grid-row: 3;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.main-page-details {
    padding-top: 30px;
}

.search:hover{
    cursor: pointer;
}
