.album-song-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #181818;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width:80%;
    margin:auto;
}

.song-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.album-song-tile:hover {
    background-color: #282828;
}

.album-song-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.album-play-button {
    background-color: #1DB954;
    color: #fff;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.album-remove-button {
    background-color: #e22134;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: none;
    color: white;
}

.album-song-tile:hover .album-play-button,
.album-song-tile:hover .album-remove-button {
    display: inline-block;
}
