.amplify-navigation-bar {
    padding: 32px 0px 32px 51px;
    background-color: black;
    display: block;
    width: 100%;
}

#amplify-signup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
}

.signup-section {
    flex: 3 1 0%;
    display: flex;
    justify-content: center;
    padding: 32px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
}

.amplify-signup-container {
    max-width: 734px;
    width: 100%;
    display: block;
}

#amplify-signup-box {
    background-color: rgb(10, 10, 10);
    color: white;
    border-radius: 8px;
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 734px;
}

.amplify-signup-header {
    color: #f0f0f0;
    margin-bottom: 48px 0px;
    font-size: 3rem;
}

.amplify-signup-form {
    width: 324px;
    margin: 0px auto;
}

.amplify-signup-labels {
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.amplify-signup-inputs {
    border: 0px;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    inline-size: 100%;
    box-sizing: border-box;
    margin-block: 0px;
    border-radius: 4px;
    padding-inline: 14px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    min-block-size: 48px;
    background-color: black;
    box-shadow: inset 0 0 0 1px #878787;
    color: #000000;
}

.amplify-signup-inputs:focus {
    outline: none;
    border-color: #1DB954; 
}

.amplify-signup-action-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#amplify-signup-submit {
    width: 100%;
    padding: 18px 0px;
    background-color: #1DB954;
    color: #202020;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
}

#amplify-signup-submit:hover {
    background-color: #1ed760; 
}

.amplify-error-message {
    color: #f44336; 
    margin-bottom: 12px;
}

.amplify-login-link-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
}

.amplify-login-link {
    color: #1DB954;
    text-decoration: none;
    font-weight: bold;
}

.amplify-login-link:hover {
    text-decoration: underline;
}

.signup-form-labels {
    font-size: 0.875rem;
    font-weight: 700;
}
