.navigation-bar {
    padding: 32px 0px 32px 51px;
    background-color: black;
    display: block;
    width: 100%;
}
.page-background {
    position: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #121212;
}

#amplify-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
}

#auth-header {
    color: #f0f0f0;
    margin-bottom: 48px 0px;
    font-size: 3rem;
}

.auth-labels {
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.auth-container {
    max-width: 734px;
    width: 100%;
    display: block;
}

.auth-section{
    flex: 3 1 0%;
    display: flex;
    justify-content: center;
    padding: 32px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
}

#auth-box {
    background-color: rgb(10, 10, 10);
    color: white;
    border-radius: 8px;
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 734px;

}

.auth-form {
    width: 324px;
    margin: 0px auto;
}

.auth-inputs {
    border: 0px;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    inline-size: 100%;
    box-sizing: border-box;
    margin-block: 0px;
    border-radius: 4px;
    padding-inline: 14px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    min-block-size: 48px;
    background-color: black;
    box-shadow: inset 0 0 0 1px #878787;
    color: #000000;
}

.auth-inputs:focus {
    outline: none;
    border-color: #a0a0a0;
}

#submit-login {
    width: 100%;
    padding: 18px 0px;
    background-color: #1DB954;
    color: #202020;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
}

#submit-login:hover {
    background-color: #1DB954;
}

.demo-login {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border-radius: 500px;
    padding-block: 7px;
    padding-inline: 31px;
    position: relative;
    border: 1px solid #878787;
    color: white;
    min-block-size: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.demo-login:hover {
    color: #1DB954;
}

.register-link {
    margin-top: 30px;
    color: #aaa;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.amplify-signup-link {
    color: white;
}

.amplify-signup-link:hover {
    color: #1DB954;
}

.error-message {
    color: #e74c3c;
    margin-bottom: 15px;
}

.horizontal-line {
    margin: 32px 100px;
    border: 1px solid rgb(41, 41, 41);
    width: 500px;
}

.amplify-logo {
    height: 10%;
    width: 10%;
}

.form-labels {
    font-size: 0.875rem;
    font-weight: 700;
}

.login-action-button {
    padding: 25px 0px;
}
