.album-details-container {
    padding-bottom: 200px;
}

.album-info-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.album-details-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin:auto;
}

.album-details-art {
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.album-title-container {
    display: flex;
    flex-direction: column;
}

.album-prefix {
    color: #b3b3b3;
    font-size: 16px;
    margin-bottom: 5px;
}

.album-details-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.album-details-header button  {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:15px;
}
