.add-song-container {
    color: black;
    display: flex;
    flex-direction: column;
}

.playlist-songs {
    display: flex;
    justify-content: space-between;
}

.playlist-song-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.playlist-song-image {
    width: 50px;
    height: 50px;
}

.playlist-song-info {
    display: flex;
    flex-direction: column;
}

.playlist-song-title{
    list-style-type: none;
}

.add-playlist-button{

}