/* TODO: Add sitewide styles */

* {
    font-family: CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif);
}

#root {
    min-height: 100vh;
}

.dark-mode {
    background: black;
    color: white;
}

/* #modal {
    overflow: scroll;
} */

/* #modal-content {
    position: relative;
} */
